@media (max-width: 750px ) {
    .button-calendar {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

    .head__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .save-the-date__line {
        width: 20%; 
        min-width: 50px;
    }
}

@media (max-width: 650px) {
    .save-the-date__couple {
        
        margin-left: 0;
    }
}

@media (max-height: 600px) {
    .save-the-date{
        margin-top: 5px;
        padding-top: 5px;
    }
}