@media (max-width: 750px ) {
    .button-calendar {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

    .header__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .save-the-date__line {
        width: 20%; 
        min-width: 50px;
    }

    .header {
        top: 0;
        /* o el valor que necesites para que se vea correctamente */
        position: relative;
        /* si deseas que el header se posicione en el flujo normal */
    }

    .header__title {
        font-size: clamp(1.5rem, 4vw, 4rem);
    }

    .header__title span {
        font-size: clamp(1.8rem, 3vw, 4.5rem)
    }
}

@media (max-width: 650px) {
    .save-the-date__couple {
        
        margin-left: 0;
    }
}

@media (max-height: 670px) {
    .background-image{
        align-items: start;
        padding-top: 1.5rem;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .header {
        /* Quizá quieras mantener position absolute pero con top más ajustado */
        position: absolute;
        top: 0;
        /* Ajusta a tus necesidades: por ejemplo, -5% o 0 */
    }

    .head__title {
        font-size: clamp(2rem, 5vw, 4rem);
    }
}

