.annunce-content h2 {
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    font-weight: 700;
    font-family: var(--title-cursive);
    
    color: var(--contrast-color);
}

.annunce-content p {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 400;
    font-family: var(--body-font);
    color: var(--contrast-color);
}