.button {
    border: none;
    border-radius: 10px;

    padding: .5rem 1.5rem;

    cursor: pointer;
}

.button-calendar {
    background-color: var(--primary-color400);
    color: var(--neutral-color);

    transition: .5s ease-in;
}

.button-calendar:hover {
    box-shadow: 0 0 20px var(--contrast-color),
                0 0 15px var(--primary-color200);
    background-color: var(--contrast-color);

    transform: scale(1.2);

}

