.intro-screen {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: transparent;

    z-index: 4;
}

.intro-screen__message {
    color: var(--contrast-color);

    font-size: clamp(3rem, 4vw, 7rem);
    font-family: var(--title-couple);
    font-weight: medium;
    text-align: center;
    letter-spacing: .10rem;


    padding: 0 2rem;
}

.particles-container {
    position: absolute;
    width: 100%;
    height: 100%;

    background: radial-gradient(circle, var(--neutral-color), var(--primary-color400));
    z-index: 3;
}

