:root {
    --primary-color200: #9cb2a5;
    --primary-color400: #6f8d74;
    --secondary-color500: #d16d58;
    --secondary-color600: #b8573b;
    --contrast-color: #44667f;

    --neutral-color: #f2e2f4;

}